@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* Toastify custom styles */
.toast-success {
  background: var(--accent);
  color: white;
}

.toast-error {
  background: #e74c3c;
  color: white;
}